{% extends 'fligths/layout.html' %}
{% block content %}
<h1>{{fligth.id}}</h1>
<ul>
    <li>Origin : {{fligth.origin}}</li>
    <li>Destination :{{fligth.destination}}</li>
    <li> Duration : {{fligth.duration}}</li>
</ul>
<h2>Passengers</h2>
<ul>
{% for passenger in passengers  %}
<li>{{passenger}}</li>
{% empty %}
<li>No Passengers</li>
    
{% endfor %}
</ul>
<h2>Add passenger</h2>
<form action="{% url 'flights:book' fligth.id %}" method="post">
 {% csrf_token %}
 <select name="passenger" id="">
    
    {% for passenger  in non_passengers %}
    <option value="{{passenger.id}}">{{passenger}}</option>
        
    {% endfor %}
        
 </select>
 <input type="submit">


</form>
<a href="{% url 'flights:index' %}">Back To fligths list</a>

    

{% endblock content %}